* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12f5bc51;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 30px;
}

#search-box {
  font: inherit;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  max-width: 320px;
  margin-bottom: 24px;
  margin-left: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

#search-box:focus {
  outline: none;
}
.country-list li {
  display: flex;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 300;
}
.country-list {
  list-style: none;
}
.country-list img {
  margin-right: 15px;
}